# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.static
.env.cloud
.self_host_deploy_key

# vercel
.vercel

self-hosted/
temp/

*.pem

# Sentry Config File
.sentryclirc
SELF_HOST_BUILD_NUMBER
.swc/

.npmrc
# Sentry Config File
.env.sentry-build-plugin
/dist